/* Use dark mode with black background & white text. */
body {
    padding: 50px;
    font-family: 'Poppins';
    text-align: center;
}

h1 {
    text-align: center;
}

input {
    cursor: pointer;
    accent-color: lightgreen;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px;
    cursor: pointer;
    border-style: none;
    border-radius: 4px;
    background-color: #70c6e3;
    font-family: 'Poppins';
}

button:hover {
    background-color: #7dddfd;
    border: 3px solid #70c6e3;
}

#blank {
    border: none;
}

.container {
    display: flex;
    justify-content: center;
}

.available {
    background-color: lightgreen;
}

.unavailable {
    background-color: lightgrey;
}

table {
    width: 60%;
}

th, td {
    border:1px solid black;
}