/* Use dark mode with black background & white text. */
body {
    padding: 50px;
    font-family: 'Poppins';
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
}